*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #000010;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* Header */
.header {
  width: 100%;
  border-bottom: 1px solid white;
  text-align: right;
  position: relative;
}

.menu li {
  display: inline-block;

}

.nav-item {
  padding: 15px 0;
  margin: 5px 25px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.nav-bar a {
  color:white;
  text-decoration: none;
}

.nav-bar a:hover {
  color:#5cbdaa;
}

.nav-bar .active {
  color:#5cbdaa;
}
/* particleground demo */

#particles {
  position: absolute; 
  width: 100%;
  min-height:150vh;
  z-index: -1; /* Add this line to ensure particles are placed behind the content */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; 
  min-height: 100vh; 
  z-index: 1; /* Add this line to ensure content appears above the particles */
}

#intro {
  position: relative;
  padding-top:25vh;
  width: 100%;
}

.projects-title {
  padding-top: 25vh;
  font-size:18px;
  font-weight: bold;
  margin-bottom:20px;
}

.projects-title h2 {
  font-size:25px;
  font-weight: bold;
}

.projects {
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.project {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left:15px;
  margin-right:15px;
  flex:1;
}

.project p {
  font-size: 12px;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  line-height: 1.5;
}

.btn-readmore {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
}

.project .btn-readmore:hover {
  background-color: #ffffff;
  color: #000000;
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 25px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.case-title {
  margin-top:10vh;
  margin-right:20vh;
  margin-left:20vh;
}

.case-body {
  margin-top:10vh;
  margin-bottom: 20px;
  margin-right:20vh;
  margin-left:20vh;
  padding:30px;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.2);
  border-radius: 5px;

}

.case-body p{
  font-size:16px;
  line-height: 1.5;
}

h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }
  #intro {
    padding: 0 10px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }

  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 90%;
  }
  #intro {
    margin-top:25vh;
    width: 90%;
  }

  .case-title {
    margin-top:5vh;
    margin-right:5vh;
    margin-left:5vh;
  }

  .case-body {
    margin-right:5vh;
    margin-left:5vh;
    padding:15px;
  }
}
  